%section.ten-oh-announcement
  .ten-oh-label
    %span 11.1
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              In this month’s release of GitLab 11.1, we've released Security Dashboards, security reports at the pipeline level, advanced code search syntax, a merge request redesign, and much more!
            .btn-group
              %a.btn.cta-btn.btn-white{href: "/2018/07/22/gitlab-11-1-released/"}
                See what’s new
