---
layout: default
title: Efficiency
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.efficiency, solution_name: "efficiency" }
