@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.release-form-container {
  width: 300px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 100px;

  @media all and (max-width: $screen-md-min) {
    margin-top: 50px;
  }

}

.dates-container {

  p {
    font-weight: 600;
    color: $color-black;

    &:not(:first-child) {
      margin-left: 4px;
    }

  }

}

.release-content-container {
  width: 100%;

  .share-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
      margin: 0;
      margin-right: 10px;
    }

    i {
      font-size: 24px;
      margin: 0;
      padding: 6px 10px;

      &:hover {
        opacity: .6;
      }
    }

    .fa-facebook {
      color: $facebook-blue;
    }

    .fa-twitter {
      color: $twitter-blue;
    }

    .fa-reddit {
      color: $reddit-red;
    }
  }

  h3:first-child {
    margin-top: 0;
  }

  @media all and (max-width: $screen-md-min) {
    margin-right: 0;
  }

}

.what-to-expect-container {

  iframe {
    height: 395px !important;
  }

}

.release-radar-item {
  padding: 50px 0;
  display: flex;

  .title {
    margin-top: 0;
    color: $color-primary;
  }

  .description {
    color: $color-gray;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-gray-extra-light;
  }

  .button-orange {
    margin-left: 80px;

    .fa-play {
      margin-right: 10px;
    }

    @media all and (max-width: $screen-md-min) {
      margin-left: 0;
      margin-top: 20px;
    }

  }

  @media all and (max-width: $screen-md-min) {
    flex-wrap: wrap;
  }

}
